.resultado {
  .titulo {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}
