.resposta {
  display: flex;
  height: 100px;
  margin: 10px 0;
  width: 80%;
  min-width: 500px;
  cursor: pointer;
  perspective: 1000px;

  .conteudo {
    display: flex;
    flex: 1;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .frente,
    .verso {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
    }

    .frente {
      align-items: center;
      color: #000;
      background-color: rgb(197, 196, 238);
      padding: 15px;
      border-radius: 12px;

      .letra {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 1.3rem;
        font-weight: 700;
        margin-right: 15px;
        color: #fff;
      }

      .texto {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }

    .verso {
      transform: rotateY(180deg);

      div {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
      }
    }

    .certa,
    .errada {
      .titulo {
        font-size: 1.4rem;
        font-weight: 500;
      }
      .texto {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }

    .certa {
      background-color: #2baa6d;
    }

    .errada {
      background-color: #e44a4c;
    }
  }

  & .respostaRevelada {
    transform: rotateY(180deg);
  }
}
