$cor-porta: chocolate;
$cor-batente: brown;
$cor-batente-selecionado: yellow;
$cor-numero: white;
$cor-macaneta: yellow;
$cor-chao: #ddd;

$altura: 310px;
$largura: 200px;

.area {
  width: $largura;
  height: $altura;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  position: relative;

  .batente {
    display: flex;
    flex-grow: 1;
    width: 90%;
    flex-direction: column-reverse;
    border-top: 5px solid $cor-batente;
    border-right: 5px solid $cor-batente;
    border-left: 5px solid $cor-batente;
    background-color: #0005;

    .porta {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background-color: $cor-porta;
      align-items: center;
      padding: 15px;

      .numero {
        font-size: 3rem;
        color: $cor-numero;
        user-select: none;
        font-family: Arial, Helvetica, sans-serif;
      }

      .macaneta {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        top: $altura * 0.48;
        background-color: $cor-macaneta;
        align-self: flex-start;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .selecao {
    border-top: 5px solid $cor-batente-selecionado;
    border-right: 5px solid $cor-batente-selecionado;
    border-left: 5px solid $cor-batente-selecionado;
  }

  .chao {
    height: 10px;
    width: 100%;
    background-color: $cor-chao;
  }

  &:hover .macaneta {
    animation: pulse 0.6s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($cor-macaneta, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($cor-macaneta, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($cor-macaneta, 0);
  }
}
